.catalog-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  
  margin-bottom: 30px;
    
  border: 1px solid #ececec;
  
  @media ($tablet-widths) and ($tablet-widths-max) {
    height: 334px;
    margin-bottom: 52px;
  }
  
  @media ($desktop-widths) {
    margin-bottom: 55px;
    min-height: 659px;
  }
}

.catalog-item__icon {
  width: 260px;
  height: 195px;
  margin-bottom: 28px;
  
  @media ($tablet-widths) {
    width: 334px;
    min-height: 334px;
    margin-right: 27px;
    margin-bottom: 0;
  }
  
  @media ($desktop-widths) {
    width: 315px;
    min-height: 462px;
    margin-right: 0;
  }
}

.catalog-item__icon img {
  overflow: hidden;
}

.catalog-item h3 {
  max-width: 185px;
  line-height: 0;
  margin-left: 29px;
  
  @media ($tablet-widths) {
   margin-top: 26px;
    margin-left: 0;
   max-width: 217px;
  }
  
  @media ($desktop-widths) {
    margin-left: 27px;
    max-width: 240px;
   
  }
}

.catalog-item__name {
  @include basic-font($font-family, 16px, 24px, bold, $font-color);
  
  @media ($tablet-widths) {
    font-size: 18px;
  }
}

.catalog-item__parameters {
  @include basic-font($font-family, 14px, 30px, $font-weight, $font-color);
  margin-top: 4px;
  margin-bottom: 18px;
  margin-left: 29px;
  
  @media ($tablet-widths) {
    
    margin-left: 0;
    font-size: 15px;
  }
  
   @media ($desktop-widths) {
     margin-left: 27px;
  }
}

.catalog-item__price {
  position: relative;
  display: block;
  margin-left: 27px;
  padding-top: 23px;
  padding-bottom: 26px;
  
  @include basic-font($font-family, 14px, 24px, bold, $font-color);
  
  &:after {
    position: absolute;
    top: 25px;
    right: 27px;
    
    display: block;
    content: "";
    width: 21px;
    height: 18px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
  }
  
  @media ($tablet-widths) {
    margin-top: auto;
    margin-left: 7px;
    
    font-size: 16px;
    
    &:after {
      position: absolute;
      top: 21px;
      left: 248px;
    }
  }
  
   @media ($desktop-widths) {
    margin-left: 27px;
    padding-top: 20px;
     
     &:after {
      position: absolute;
      top: 25px;
      right: 27px;
      }
  }
}

.catalog-item__price:before {
  position: absolute;
  top: 0;
  left: 0;
  
  display: block;
  content: "";
  width: 204px;
  height: 1px;
  
  background-color: #ececec;
  
  @media ($tablet-widths) {
    width: 269px;
  }
  
  @media ($desktop-widths) {
    width: 257px;
    top: -4px;
  }
}



