.contacts-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 320px;
  margin: 0 auto;
  margin-bottom: 39px;
  
  outline: 1px solid red;
  
  @media ($tablet-widths) {
    width: 768px;
  }

  @media ($desktop-widths) {
    width: 1050px;
    height: 457px;
    padding: 0 50px;
  }
}