
.contacts {
  @include basic-font;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.contacts__title {
  @include basic-font;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
}

.contacts__value a {
  text-decoration: none;
  color: $font-color;
}