.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 100%;
  margin: 0 auto;
  margin-bottom: 39px;

  @media ($desktop-widths) {
    width: 1050px;
    min-height: 457px;
    padding: 0 50px;
  }
}

.contacts-wrapper {
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  
  @include basic-font($font-family, 14px, 30px, $font-weight, $font-color);
  
  @media ($tablet-widths) {
    width: 668px;
    padding: 0 50px;
  }

  @media ($desktop-widths) {
    width: 350px;
    margin-left: 175px;
    padding: 0;
  }
  
}

.contacts__title {
  margin-bottom: 28px;
  
  @include basic-font($font-family, 24px, 30px, bold, $font-color);
  
  @media ($tablet-widths) {
    @include basic-font($font-family, 40px, 50px, bold, $font-color);
  }
  
  @media ($tablet-widths) {
    padding-top: 77px;
    margin-bottom: 56px;
    
    @include basic-font($font-family, 50px, 57px, bold, $font-color);
  }
}

.contacts__list {
  display: table;
  margin: 0;
  margin-bottom: 29px;
  
 @media ($tablet-widths) and ($tablet-widths-max) {
   width: 668px; 
   
   font-size: 0;
  }
  
  @media ($desktop-widths) {
    font-size: 16px;
    margin-bottom: 75px;
  }
}

.contacts__row {
  display: table-row;
  
  @media ($tablet-widths) and ($tablet-widths-max) {
    display: inline-block;
    vertical-align: top;
    width: 334px;
    
    font-size: 16px;     
  }
}

.contacts__field {
  display: table-cell;
  padding-right: 35px;
  
  @media ($tablet-widths) {
    padding-right: 29px;
  }
  
  @media ($desktop-widths) {
    padding-right: 29px;
  }
}

.contacts__value {
  display: table-cell;
  max-width: 207px;
}

.contacts__row:first-child .contacts__value {
  padding-bottom: 32px;
}