.form-content__message {
  font-size: 15px;
  line-height: 25px;
}

.form__list {
  margin-bottom: 58px;
  
  font-size: 0;
}

.form__item {
  position: relative;
  
  display: flex;
  flex-direction: column;
}

.form__title {
  $font-color: #63d1bb;
  
  box-sizing: border-box;
  min-width: 64px;
  padding: 0;
  padding-right: 20px;
  
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font-color;
  
  background-color: #ffffff;
  
  &::after {
    position: absolute;
    top: 8px;
    right: 0px;
    content: "";
    z-index: -1;
    
    width: 100%;
    height: 1px;
    
    background-color: #63d1bb;
  }
}

.form__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 100%;
}

.form__item label {  
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
}

.form__type label, 
.form__color label {
  padding-left: 64px;
}

.form__item input {
  height: 54px;
  margin-bottom: 25px; /*временная величина отступа*/
  
  border: none;
  border-bottom: 2px solid #000000;
  background-color: inherit;
}

.form__type input,
.form__color input {
  display: none; /*Скрыты для кастомизации*/
}

.form__wishes {
  min-height: 145px;
  
  border: 2px solid #000000;
}

.form__btn {
  display: inline-block;
  width: 258px;
}

.form__info {
  display: none;
}

@media ($tablet-widths) {
  
  .form__item {
    flex-direction: row;
  }
  
  .form__title {
    width: 167px;
    padding: 0;
    
    text-align: center;
    
    background: none;
    
    &::after {
      display: none;
    }
  }
  
  .form__inner {
    width: calc(100% - 167px);
  }
  
  .form__color .form__inner,
  .form__name .form__inner {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .form__type label {
    padding-left: 81px;
  }
  
  .form__color label {
    box-sizing: border-box;
    width: 239px;
    padding-left: 81px;    
  }
  
  .form__name label {
    margin-right: 25px;
  }
  
  .form__name input {
    min-width: 70%;
    flex-grow: 1;
  }
  
  .form__color,
  .form__tel,
  .form__email {
    background-color: #f1f1f1;
  }  
  
  .form__btn {
    display: inline-block;
    vertical-align: top;
    width: 230px;
  }
  
  .form__info {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 230px);
    
    text-align: right;
    font-size: 16px;
   
  }
}

@media ($desktop-widths) {
  
  .form__title {
    width: 175px;
  }
  
  .form__inner {
    width: 700px;
  }  
  
  .form__color .form__inner {
    width: calc(100% - 175px);
    justify-content: flex-start;
  }
  
  .form__color label {
    width: 263px;
  }
  
  .form__name input {
    min-width: 80%;
  }
  
  .form__btn {
    margin-left: 175px;
  }
  
  .form__info {
    margin-right: 175px;
    width: calc(100% - 230px - 350px);
  }
}