.form-content__message {
  margin-bottom: 25px;
  
  @include basic-font($font-family, 15px, 25px, $font-weight, $font-color);
}

.form {
  margin-bottom: 63px;
  
  font-size: 0;
}

.form__item {
  position: relative;
  
  font-size: 16px;
}

.form__title {  
  box-sizing: border-box;
  min-width: 64px;
  padding: 0;
  padding-right: 20px;
  margin-bottom: 32px;
  
  @include basic-font($font-family, 16px, 16px, bold, #63d1bb);  
  text-transform: uppercase;
  
  background-color: #ffffff;
  
  &::after {
    position: absolute;
    top: 16px;
    right: 0px;
    content: "";
    z-index: -1;
    
    width: 100%;
    height: 1px;
    
    background-color: #63d1bb;
  }
}

.form__item--type .form__title {
  width: 64px;
  
   &::after {
    top: 8px;
  }
}

.form__item--tel .form__title,
.form__item--email .form__title {
    margin-bottom: 7px;
  }

.form__item--email .form__title {
   margin-top: 5px;
}

.form__inner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 100%;
}

.form__item--color .form__inner {
  margin-top: 30px;
}

.form__item--name .form__inner {
  margin-top: 25px;
}

.form__item label {  
  @include basic-font($font-family, 16px, 18px, bold, $font-color);
}

.form__item--type label, 
.form__item--color label {
  padding-left: 64px;
}

.form__item--type label {
  position: relative;
  
  margin-bottom: 35px;
  
  &:last-child {
    margin-bottom: 38px;
  }
  
  &:before {
    position: absolute;
    top: calc(50% - 20px);
    left: 1px;

    display: block;
    content: "";
    width: 16px;
    height: 16px;

    background-color: #ffffff;
    border: 11px solid #ffffff;
    box-shadow: 0 0 0 1px #000000;

    border-radius: 50%;
  } 
  
   &:hover:before {
    box-shadow: 0 0 0 1px #62d1ba;
   }
  
   &:active:before {
    box-shadow: 0 0 0 1px #c7c7c7;
   }
}

.form__item--type input:checked + label:before {
  background-color: #62d1ba;
}

.form__item--typy input:disabled + label {
  opacity: 0.3; 
  
  &:hover:before {
    box-shadow: 0 0 0 1px #000000;
   }
}

.form__item--color label {
  position: relative;
  
  margin-bottom: 46px;
  
  &:before {
    position: absolute;
    top: calc(50% - 20px);
    left: 0;

    display: block;
    content: "";
    width: 38px;
    height: 39px;

    background-color: inherit;
    border: 1px solid #000000;
  }
  
  &:hover:before {
    border-color: #62d1ba;
   }
  
  &:active:before {
    border-color: #c7c7c7;
   }
}

.form__item--color input:disabled + label {
  opacity: 0.3; 
  
  &:hover:before {
    border-color: #000000;
   }
}

.form__item--color input:checked + label:before {
  background-image: url("../img/icon-tick.svg");
  background-size: 22px 17px;
  background-repeat: no-repeat;
  background-position: center;
}

.form__item input {
  height: 53px;
  margin-bottom: 21px;
  
  border: none;
  border-bottom: 2px solid #000000;
  background-color: inherit;
  outline: none;
  
  font-size: 16px;
  
  &:last-child {
    margin-bottom: 30px;
  }
  
  &:hover {
    border-bottom-color: #62d1ba;
   }
  
  &:focus {
    border-bottom-color: #62d1ba;
  }
}

.form__label input {
  box-sizing: border-box;
  width: 100%;
}


.form__item--type input,
.form__item--color input {
  display: none;
}

.form__item--wishes {
  box-sizing: border-box;
  min-height: 149px;
  margin-top: 30px;
  margin-bottom: 58px;
  
  font-size: 16px;
  
  border: 2px solid #000000;
  outline: none;
  
  &:hover {
    border-color: #62d1ba;
   }
  
  &:focus {
    border-color: #62d1ba;
  }
}

.form__btn {
  display: inline-block;
  width: 258px;
  background-color: #ffffff;
}

.form__info {
  display: none;
}

@media ($tablet-widths) {
  .form {
    margin-bottom: 50px;
  }
  
  .form-content__message {
    margin-bottom: 75px;
    padding-top: 29px;
    
    font-size: 16px;
    line-height: 30px;
  }
  
  .form-content__message-line {
    display: block;
  }
  
  .form__item {
    display: flex;
    flex-direction: row;
    
    font-size: 18px;
  }
  
  
  .form__title {
    width: 167px;
    padding: 0;
    margin: 0;
    margin-bottom: auto;
    
    background: none;
    
    &::after {
      display: none;
    }
  }
  
  .form__item--type .form__title {
    width: 167px;
  }
  
  .form__item input:last-child {
    margin-bottom: 0;
  }
  
  .form__item input,
  .form__item--wishes {
    cursor: pointer;
  }
   
  .form__inner {
    width: calc(100% - 167px);
  }
  
  .form__item--color .form__inner,
  .form__item--name .form__inner {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
  
  .form__item label {
    font-size: 18px;
  }
  
  .form__item--type label { 
    padding-left: 81px; 
    margin-bottom: 59px;
    
    &:last-child {
      margin-bottom: 69px;
    }
    
    &:before {
    top: -15px;

    width: 19px;
    height: 19px;

    border: 15px solid #ffffff;
    }
  }
  
  
  .form__item--color {
    padding-top: 76px;
  }
  .form__item--color .form__inner {
    margin-top: 0;
  }
  
  .form__item--color label {
    box-sizing: border-box;
    width: 239px;
    margin-bottom: 57px;
    padding-left: 81px;
    
    &:nth-of-type(5), 
    &:nth-of-type(6) {
      margin-bottom: 79px;
    }
    
    &:before {
    top: -15px;
  
    width: 52px;
    height: 49px;
    }
  }
  
  .form__item--name {
    padding-top: 42px;
  }
  
  .form__item--name .form__title {
    margin-top: 20px;
  }
  
  .form__item--name .form__inner {
    margin-top: 0;
  }
  
  .form__item--name label {
    margin-right: 25px;
    margin-top: 20px;
  }
  
  .form__item--name input {
    min-width: 70%;
    flex-grow: 1;
    align-self: flex-start;
    
    &:last-child {
      margin-bottom: 67px;
    }
  }
  
  .form__item--color,
  .form__item--tel,
  .form__item--email {
    background-color: $form-bg;
  }  
  
  .form__item--tel {
    padding-top: 47px;
    margin-bottom: 0;
  }
  
   .form__item--tel .form__title {
    margin-top: 20px;
    margin-bottom: auto;
  }
  
  .form__item--tel input {
     margin-bottom: 0;
    
     background-color: $form-bg; /*для IE*/
  }
  
  .form__item--email {
    padding-top: 20px;
    padding-bottom: 67px;
  }
  
  .form__item--email input {    
    background-color: $form-bg; /*для IE*/
  }
  
  .form__item--email .form__title {
    margin-top: 20px;
     margin-bottom: auto;
  }
  
  .form__item--wishes {
    min-height: 142px;
    margin-top: 65px;
    margin-bottom: 53px;
  }
  
  .form__item--add .form__title {
     margin-top: 84px;
  }
  
  .form__btn {
    display: inline-block;
    vertical-align: top;
    width: 230px;
  }
  
  .form__info {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 230px);
    
    text-align: right;
    font-size: 16px;
  }
}

@media ($desktop-widths) {
  .form {
    margin-bottom: 95px;
  }
  
  .form-content__message {
    margin-left: 175px;
    padding-top: 53px;
  }
  
  .form__title {
    width: 175px;
    text-align: center;
  }
  
  .form__inner {
    width: 700px;
  }  
  
  .form__item--color .form__inner {
    width: calc(100% - 175px);
    justify-content: flex-start; 
  }
  
  .form__item--color label {
    width: 263px;
  }
  
  .form__item input {
    font-size: 18px;
  }
  
  .form__item--name {
    padding-top: 46px;
  }
  
  .form__item--name input {
    min-width: 80%;
  }
  
  .form__item--email {
    padding-top: 18px;
  }
  
  .form__item--wishes {
    margin-bottom: 90px;
    font-size: 18px;
  }
  
  .form__btn {
    margin-left: 175px;
  }
  
  .form__info {
    margin-right: 175px;
    width: calc(100% - 230px - 350px);
  }
}

.form__item ::-webkit-input-placeholder {
  font-weight: normal;
  color: #d2d2d2;
  padding-left: 18px;
}

.form__item :-moz-placeholder {
  font-weight: normal;
  color: #d2d2d2;
  padding-left: 18px;
}

.form__item :-ms-input-placeholder {
  font-weight: normal;
  color: #d2d2d2;
  padding-left: 18px;
}

.form__label {
  position: relative;
}

.form__label--phone {
  
    &:after {
    position: absolute;
    top: 15px;
    right: 8px;
    
    display: block;
    content: "";
    width: 25px;
    height: 25px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
  
  }
}
  .form__label--email {
  
    &:after {
    position: absolute;
    top: 12px;
    right: 8px;
    
    display: block;
    content: "";
    width: 32px;
    height: 26px;
    background-image: url("../img/icon-mail.svg");
    background-repeat: no-repeat;
    }
  }