.form-content__message {
  @include basic-font;
  font-size: 15px;
  line-height: 25px;
  font-weight: normal;
}

.form__title {
  $font-color: #63d1bb; 
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font-color;
}

.form__item label {
  @include basic-font;
  font-size: 17px;
  line-height: 19px;
  font-weight: bold;
}