.features {
  margin-bottom: 60px;
  outline: 1px solid red;

  @media ($desktop-widths) {
    padding: 0 175px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  @media ($tablet-widths) {
    max-height: 300px; /*временная высота для сетки*/
  }

  @media ($desktop-widths) {
    max-height: 300px; /*временная высота для сетки*/
  }
}

.features__title {
  margin: 0;
  
  @include basic-font($font-family, 24px, 30px, bold, $font-color);
}

.features__item {
  height: 100px; /*временная высота для сетки*/
  
  @include basic-font($font-family, 16px, auto, bold, $font-color);
}