.footer-copyright {
  position: relative;
  
  box-sizing: border-box;
  min-width: 260px;
  min-height: 80px;
  padding-left: 39px;
  padding-top: 28px;
  
  border-top: 1px solid #e5e5e5;
  
  @include basic-font($font-family, 18px, 18px, bold, $font-color);
  
  @media ($tablet-widths) {
    min-width: 182px;
    min-height: 34px;
    padding-left: 0;
    padding-top: 10px;
    margin-top: 53px;
    margin-bottom: 51px;
    
    border: none;
  }
}

.footer-copyright__icon {
  position: absolute;
  width: 40px;
  height: 47px;
  top: 20px;
  right: 33px;
  
  @media ($tablet-widths) {
    top: 1px;
    right: -7px;
  }
  
  @media ($desktop-widths) {
    right: -3px;
  }
}