.footer-social {
  display: flex;outline: 1px solid blue;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  min-width: 141px;
  margin: 25px auto;
  
  font-size: 0;
  
  @media ($tablet-widths) {
    margin-top: 51px;
    margin-bottom: 58px;    
  }
}

.footer-social__link {
  width: 30px;
  height: 30px;
  margin-right: 28px;
  
  background-color: #000000;
  
  &:last-child {
    margin-right: 0;
  }
}


 