.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  
  min-width: 141px;
  margin: 25px auto;
  
  font-size: 0;
  
  @media ($tablet-widths) {
    margin-top: 51px;
    margin-bottom: 58px;    
  }
}

.footer-social__link {
  width: 30px;
  height: 30px;
  margin-right: 28px;
  
  background-repeat: no-repeat;
  background-position: center;
  
  &:last-child {
    margin-right: 0;
  }
  
  &--inst {
    background-image: url("../img/icon-insta.svg");
    background-size: 22px 21px;
  }
  
  &--fb {
    background-image: url("../img/icon-fb.svg");
    background-size: 15px 28px;
  }
  
  &--tw {
    background-image: url("../img/icon-twitter.svg");
    background-size: 24px 20px;
  }
}


 