.main-footer {
  background-color: #f1f1f1;
}

.main-footer__inner-wrapper {
  outline: 1px solid red;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
  
  
  @media ($tablet-widths) {
    width: 668px;
    padding: 0 50px;
  }

  @media ($desktop-widths) {
    width: 1050px;
    padding: 0 50px;
  }
}

.footer-logo {
  display: none;
  
  @media ($tablet-widths) {
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 51px;
    margin-bottom: 58px;
    margin-right: 80px;
  }
}