.main-header {
  margin-bottom: 27px;
  
  @media ($tablet-widths) {
    margin-bottom: 45px;
  }
  
  @media ($desktop-widths) {
    margin-bottom: 70px;
  }
}

.main-header__inner-wrapper {
  width: 320px;
  margin: 0 auto;
  
  @media ($tablet-widths) {
    width: 768px;
  }

  @media ($desktop-widths) {
    width: 1150px;
  }
}

.main-header__intro {  
  min-height: 176px;
  border-top: 1px solid #ececec;
  
  background-color: $main-header-bg;
}

.main-header__intro--index {  
  background-color: $main-header-bg;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  
  @media ($retina-dpi), ($retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 575px auto;
  }
  
  @media ($tablet-widths) {
    background-image: url("../img/hero-desktop@1x.jpg");
    
    @media ($retina-dpi), ($retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 1150px auto;
    }
  }
}

.main-header__title {
  margin: 0 30px;
  
  @include basic-font($font-family, 24px, 30px, bold, $font-color);
  text-align: center;
  
   @media ($tablet-widths) {
     font-size: 40px;
     line-height: 50px;
  }
  
  @media ($desktop-widths) {
     font-size: 50px;
     line-height: 57px;
  }
}

.main-header__title--index {
  margin: 0 40px;
  padding-top: 86px;
  padding-bottom: 123px;
  
  @media ($tablet-widths) {
    padding-top: 152px;
    padding-bottom: 373px;
  }
  @media ($desktop-widths) {
    padding-bottom: 360px;
  }
  
}

.main-header__title--catalog {
  padding-top: 69px;
  padding-bottom: 80px;
  
  @media ($tablet-widths) {
    padding-top: 92px;
    padding-bottom: 80px;
  }
  
  @media ($desktop-widths) {
    padding-top: 94px;
    padding-bottom: 101px;
  }
}

.main-header__title--form {
   padding-top: 74px;
   padding-bottom: 84px;
  
  @media ($tablet-widths) {
    padding-top: 95px;
    padding-bottom: 78px;
  }
  
  @media ($desktop-widths) {
    padding-top: 94px;
    padding-bottom: 101px;
  }
}

.main-header__inner-nav-list {
  position: relative;
  font-size: 0;
  
  @media ($tablet-widths) {
    padding: 0 50px;
    
    &:after {
    position: absolute;
      top: 106px;
      left: 0;
      
      display: block;
      content: "";
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-size: 100% 24px;
      background-position: bottom left;
  }
      
  @media ($desktop-widths) {
    &:after {
      top: 103px;
      height: 34px;
      background-size: 100% 34px;
      }
    }
  }
}

.main-header__inner-nav-item {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 320px;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 29px;
  padding-right: 165px;
  
  @include basic-font($font-family, 18px, 24px, bold, #ffffff);
  text-align: left;
  
  @media ($tablet-widths) {
    width: 334px;
    min-height: 117px;
    padding-top: 29px;
    padding-left: 38px;
    
    line-height: 28px;
  }

  @media ($desktop-widths) {
    width: 525px;
    padding-right: 350px;
  }
}

.main-header__inner-nav-item--interior {
  background-color: #63d1bb;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-size: 40px 62px;
  background-position: top 23px right 36px;
  
  @media ($tablet-widths) {
    background-position: top 30px right 36px;
  }
}

.main-header__inner-nav-item--toys {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-size: 60px 60px;
  background-position: top 21px right 27px;
  
  @media ($tablet-widths) {
    background-position: top 31px right 36px;
  }
}