.main-footer {
  background-color: #f1f1f1;
}

.main-footer__inner-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  width: 260px;
  padding: 0 30px;
  margin: 0 auto;
}

.footer-logo {
  display: none;
}
@media ($tablet-widths) {
  .main-footer__inner-wrapper {
    width: 668px;
    padding: 0 50px;
  }
  
  .footer-logo {
    display: block;
    width: 102px;
    height: 34px;
    margin-top: 51px;
    margin-bottom: 58px;
    margin-right: 80px;
  }
}

@media ($desktop-widths) {
  .main-footer__inner-wrapper {
     width: 1050px;
    padding: 0 50px;
  }
}