.main-nav {
  position: relative;
  
  display: flex;
  flex-direction: column;
  
  margin: 0 auto;
  
  font-size: 14px;
  line-height: 24px;
  
  background-color: #ffffff;
  
}

.main-nav__list {
  display: flex;
  flex-wrap: wrap;
}

.main-nav__extra-list,
.main-nav__info {
  display: none;
}

.main-nav__item a {
  
  display: block;
  box-sizing: border-box;
  width: 320px;
  padding-top: 26px;
  padding-bottom: 28px;
  padding-left: 76px;
  padding-right: 30px;
  
  font-size: 16px;
  font-weight: bold;
  
  border-top: 1px solid #ececec;
}

.main-nav__logo a {
  height: 79px;
  padding: 0;
  padding-top: 20px;
  
  text-align: center;
  
  border-top: 1px solid #ececec;
}

.main-nav__item--search a {
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-size: 21px 18px;
  background-position: 30px center;
}

.main-nav__item--basket a {
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-size: 21px 18px;
  background-position: 30px center;
}

@media ($mobile-widths-only) {
  
  .main-nav__btn {
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 2;

    display: block;
    width: 70px;
    height: 75px;

    font-size: 0;
    
    background-color: #ffffff;
}

  .main-nav--closed .main-nav__btn::before {
    content: "";
    position: absolute;
    top: 30px;
    right: 30px;

    width: 20px;
    height: 2px;

    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000,
                0 12px 0 0 #000000;
  }

  .main-nav--opened .main-nav__btn {
    &::before,
    &::after { 
      content: "";
      position: absolute;
      top: 37px;
      left: 19px;

      width: 27px;
      height: 2px; 

      background-color: #000000;
    }

    &::before { 
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
  
  .main-nav--closed .main-nav__item {
    display: none;
  }
  
  .main-nav--closed .main-nav__logo {
    display: block;
  } 
  
  .main-nav--no-js .main-nav__item {
    display: block;
  }
  
  .main-nav--no-js .main-nav__btn{
    display: none;
  }
}

@media ($tablet-widths) {
  
  .main-nav {
    flex-direction: row;
 
    width: 100%;
    min-height: 88px;
  }
  
  .main-nav__btn {
    display: none;
  }
  
  .main-nav__wrapper {
    display: flex;
    flex-direction: column;
    
    padding: 0 50px;
  }
  
  .main-nav__item a {
    width: 167px;
    padding: 0;
    padding-top: 31px;
    
    border-bottom: none;
    border-top: none;
  }
 
  .main-nav__info {
    align-self: flex-end;
    
    display: block; 
    box-sizing: border-box;
    min-height: 60px;
    padding-top: 21px;
    margin-top: -45px;
    margin-bottom: -60px;
  }
  
  .main-nav__item--search {
    order: -2;
    
    margin-left: auto;
  }
  
   .main-nav__item--search a {
    width: 83px;
    min-height: 88px;
    
    font-size: 0; 
     
    border-left: 1px solid #ececec;
  }
  
  .main-nav__item--basket {
    order: -1;
  }
  
  .main-nav__item--basket a {
    width: 264px;
    min-height: 88px;
    
    text-align: right;
    
    border-left: 1px solid #ececec;
  }
  
  .main-nav__logo {
    order: -3;
    
    margin-right: 150px;
  }
  .main-nav__logo a {
    width: 113px;
    min-height: 88px;
    padding-top: 22px;
    
    border: none;
  }
  
  .main-nav__logo img {
    width: 113px;
    height: 46px;
  }
  
  .main-nav__item--catalog a,
  .main-nav__item--knitting a {
    font-size: 14px;
    padding-top: 19px;
  }
}

@media ($desktop-widths) {
  
  .main-nav__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-bottom: -60px;
  }
  
  .main-nav__list {
    flex-grow: 1;
  }
  
  .main-nav__extra-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    order: 4;
    
    max-width: 800px;
  }
  
   .main-nav__info {
    order: 5;
    
    margin: 0;
    padding-top: 19px;
  }
  
  .main-nav__extra-item a {
    display: block;
    box-sizing: border-box;
    min-height: 60px;
    padding-top: 19px;
    margin-right: 75px;
    
    font-weight: bold;
  }
  
  .main-nav__item a {
    min-width: 189px;
    min-height: 88px;
  }

  .main-nav__item--catalog a {
    padding-top: 32px;
    font-size: 16px;
    border-right: 1px solid #ececec;
  }
   .main-nav__item--knitting a {
     padding-top: 32px;
     padding-left: 35px;
     font-size: 16px;
  }
  
  .main-nav__item--search {
    order: 2;
    
    margin-left: 101px;
  }
  
  .main-nav__item--search a {
    min-width: 0;
    width: 84px;
  }
  
  .main-nav__item--basket {
    order: 3;
  }
  
   .main-nav__item--basket a {
    min-width: 0;
     width: 267px;
     
  }
  
  .main-nav__logo {
    order: 1;
    
    margin: 0;
    margin-left: auto;
  }
  
  .main-nav__logo a {
    min-width: 0;
    width: 149px;
    padding-left: 0;
    padding-top: 8px;
  }
  
   .main-nav__logo img {
    width: 149px;
    height: 72px;
  }
}