.popular-goods {
  display: flex;
  flex-direction: column;
  
  margin-bottom: 72px;
  
  @media ($tablet-widths) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  @media ($desktop-widths) {
    justify-content: flex-start;
    
    padding-left: 175px;
  }
}

.popular-goods__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
//  margin-bottom: 7px;
  
  @media ($tablet-widths) {
    font-size: 40px;
    line-height: 50px;outline: 1px solid red;
  }
  
  @media ($desktop-widths) {
    font-size: 50px;
    line-height: 57px;
    
    z-index: 10;
  }
}

.popular-goods__subtitle {
  @include basic-font($font-family, 16px, 16px, bold, #63d1bb);
  text-transform: uppercase;
 
//  margin-bottom: 26px;
  
  @media ($tablet-widths) {
    align-self: center;
        
    width: 70px; 
    margin-right: 28px;
        
    text-align: center;
  }
  
  @media ($desktop-widths) {
    align-self: center;
    order: -1;
    
//    width: 70px; 
    margin-left: -130px;
    margin-right: 60px;
   
//    text-align: center;
  }
}

.popular-goods__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 100%;
}

.popular-goods__description {
  font-size: 14px;
  line-height: 24px;
  outline: 1px solid red;
//  margin-bottom: 18px;
  
  @media ($tablet-widths) {
    width: 292px; 
    
    font-size: 16px;
    line-height: 30px;
  }
}

.popular-goods__parameters {
  font-size: 14px;
  line-height: 20px;
  outline: 1px solid red;
//  margin-bottom: 28px;
  
  @media ($tablet-widths) {
    width: 292px; 
    
    font-size: 16px;
    line-height: 30px;
  }
}

.popular-goods__price {
  display: block;
  
  @include basic-font($font-family, 16px, 24px, bold, $font-color);
  text-align: center;
  
  @media ($tablet-widths) {
    width: 292px;
  }
}

.popular-goods__icon {
  @media ($tablet-widths) {
    align-self: flex-end;
    order: 1;
    
    width: 334px;
    height: 404px;
    margin-top: -250px;
     outline: 1px solid red;
  }

  @media ($desktop-widths) {
//    order: 1;
    
    width: 525px;
    height: 636px;
    margin-top: -323px;
  }
}

.popular-goods__icon img {
  width: 100%;
  height: auto;
}

.popular-goods__order-btn {
  display: block;
  
  text-align: center;
  
   @media ($tablet-widths) {
    width: 292px;
  }
}