.popular-goods__title {
  @include basic-font;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
//  margin-bottom: 7px;
}

.popular-goods__subtitle {
  $font-color: #63d1bb;
  font-family: $font-family;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $font-color;
//  margin-bottom: 26px;
}
.popular-goods__description {
  @include basic-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
//  margin-bottom: 18px;
}
.popular-goods__parameters {
  @include basic-font;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
//  margin-bottom: 28px;
}

.popular-goods__price {
  @include basic-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.popular-goods {
  margin-bottom: 72px;
  outline: 1px solid red;
}