.production {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-bottom: 32px;
  margin-bottom: 58px;
  outline: 1px solid blue;
  
  @media ($desktop-widths) {
    height: 455px;
    padding-bottom: 0;
  }
}

.production__title {
  @include basic-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
//  margin-bottom: 22px;
//  margin-left: 90px;
  
  @media ($tablet-widths) {
    margin: 0 42px;
  }
  
  @media ($desktop-widths) {
    width: 145px;
  }
}

.production__info {
  @include basic-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
//  margin-bottom: 22px;
  
  @media ($tablet-widths) {
    margin: 0 42px;
  }
  
  @media ($desktop-widths) {
    width: 240px;
  }
}

.production__video {
  width: 100%;
  height: 150px;
//  margin-bottom: 30px;
  object-fit: inherit;
  
  @media ($tablet-widths) {
    height: 455px;
    order: -1;
  }
  
  @media ($desktop-widths) {
    width: 682px;
    height: 455px;
    margin-right: 79px;
    order: -1;
  }
}

.production__btn {
  @media ($tablet-widths) {
    margin: 0 42px;
  }
}