.production__title {
  @include basic-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.production__info {
  @include basic-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}