.reviews__title {
  @include basic-font;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 29px;
}

.reviews__item {
  @include basic-font;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.reviews__content {
//  margin-bottom: 14px;
}

.reviews__author-name {
  font-weight: bold;
}

.reviews__author-link {
  font-style: normal;
}

.reviews {
  margin-bottom: 91px;
  outline: 1px solid red;
}